<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="Plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
<div ng-controller="mainCtrl">
    {{title}}

</div>
</body>

</html>
<script src="Plugins/angularjs/angular.min.js"></script>
<script src="Plugins/angularjs/angular-route.min.js"></script>
<script src="Plugins/angularui/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="js/helpers.js"></script>
<script src="js/app.js"></script>
<script src="js/Directives/TestDirective.js"></script>
<script src="js/Filters/TestFilter.js"></script>
<script src="js/Services/DataService.js"></script>
<script src="js/Controllers/MainController.js"></script>